{% extends  'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
<div class="container">
    <h1>Voir tous nos biens </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero perspiciatis laboriosam minima dolorem possimus, ut corporis doloribus aliquam iusto nostrum quam est. Minus, sint cupiditate ab expedita quibusdam enim recusandae?</p>
</div>    
 {% endblock body %}
